body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	font-size: 1.2em;
}
body>* {
	min-width: 20em;
	width: 70%;
}
body > footer {
	margin-top: auto;
	display: flex;
	justify-content: flex-end;
}
body > footer > * {
	flex-grow: 0;
}
form {
	display: flex;
	flex-direction: column;
}
form, form button { font-size: 1.5rem; }
form label {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.7em;
}
form input, form button {
	padding: .5em;
}
label > .label:after {
	content: ":";
}

label > * { order: 1; }
label > .label { order: 0; }

[required]+.label:after {
		content: ": *";
}
input:invalid+.label { color: red; }

form:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,.2);
		z-index: 100;
		background-image: url('/ajax-loader.gif');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 70%;
		transition: display 0s linear 0.5s;

		display: none;
}
form.sending:before {
    display: flex;
}
